<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
        body {
            margin-top: 0px;
        }
        #test-title-image {
            width: 100%;
        }
        .top-buffer { margin-top:40px; }
    </style>
</head>
<body>
    <img src="http://placehold.it/4000x200/7293BD/EFE4B3" id="test-title-image">
    <div class="container">
        <div class="page-header">
            <h1>TDC Design <small>T.D.C. Design KG</small></h1>
        </div>
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li class="{% block home_active %}{% endblock %}"><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Start</a></li>
                    <li class="{% block designs_active %}{% endblock %}"><a href="{% url 'gallery_list' %}"><span class="glyphicon glyphicon-th-large"></span> Gallerie</a></li>
                    <li class="{% block unternehmen_active %}{% endblock %}"><a href="#"><span class="glyphicon glyphicon-briefcase"></span> Unternehmen</a></li>
                    <li class="{% block kontakt_active %}{% endblock %}"><a href="#"><span class="glyphicon glyphicon-comment"></span> Kontakt</a></li>
                    <li class="{% block impressum_active %}{% endblock %}"><a href="{% url 'impressum' %}"><span class="glyphicon glyphicon-align-left"></span> Impressum</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <!--div id="footer">
        <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
        </div>
    </div-->
</body>
</html>